<form id="admin-mode-toggle">
    <div class="switch-toggle switch-grav">
        <input type="radio" value="normal" data-leave-url="{{ uri.route(true) }}/mode:normal" id="normal" name="mode-switch" class="highlight" {% if admin.session.expert == '0' %} checked="checked"{% endif %}>
        <label for="normal">Normal</label>
        <input type="radio" value="expert" data-leave-url="{{ uri.route(true) }}/mode:expert" id="expert" name="mode-switch" class="highlight" {% if admin.session.expert == '1' %} checked="checked"{% endif %}>
        <label for="expert">Expert</label>
        <a></a>
    </div>
</form>