{% extends 'partials/base.html.twig' %}

{% set data = admin.data('system') %}

{% block titlebar %}
    <div class="button-bar">
        <a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> Back</a>
        <button class="button" type="submit" name="task" value="save" form="blueprints"><i class="fa fa-check"></i> Save</button>
    </div>
    <h1><i class="fa fa-fw fa-th"></i> Configuration - System</h1>
{% endblock %}

{% block content_top %}
    <ul class="tab-bar">
        <li class="active"><span>System</span></li>
        <li><a href="{{ base_url_relative }}/settings/">Site</a></li>
    </ul>
    {% if data.blueprints.fields %}
        {% include 'partials/admin-toggle.html.twig' %}
    {% endif %}
{% endblock %}

{% block content %}

    {% include 'partials/blueprints.html.twig' with { blueprints: data.blueprints, data: data } %}
{% endblock %}